<% if @correct %>
  <h2>You are correct! Submit your point to the leaderboard?</h2>
  <%= form_tag(leaderboard_game_url(@episode), method: :post) do %>
    <%= hidden_field_tag :correct, @correct %>

    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>

    <%= submit_tag 'Submit to Leaderboard' %>
  <% end %>
<% elsif defined?(@correct) %>
  <h2>Sorry, you are incorrect! You get no points.</h2>
<% end %>

<h2>Leaderboard</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @episode.game_scores.each do |game_score| %>
      <tr>
        <td><%= game_score.username %></td>
        <td><%= game_score.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Play Again', game_path(@episode) %>
