<p id="notice"><%= notice %></p>

<h1>Episode: <%= @episode.name %></h1>

<%= form_tag(game_url(@episode), method: :put) do %>
  <h2>Which statement is correct?</h2>
  <% @episode.episode_statements.alphabetical.each do |episode_statement| %>
    <label>
      <%= radio_button_tag("statement_id", episode_statement.id) %>
      <%= episode_statement.statement %>
    </label>
  <% end %>

  <%= submit_tag 'Submit Answer', class: 'button' %>
<% end %>
