<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>

<h2>Statements</h2>

<table>
  <thead>
    <tr>
      <th>Statement</th>
      <th>Correct?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episode.episode_statements.each do |episode_statement| %>
      <tr>
        <td><%= episode_statement.statement %></td>
        <td><%= episode_statement.correct %></td>
        <td><%= link_to 'Edit', edit_episode_episode_statement_path(@episode, episode_statement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Statement', new_episode_episode_statement_path(@episode) %>
